.page-container {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-color: white;
    min-height: 12cm;
    font-family: "Open Sans", sans-serif !important;
    overflow: unset;

    .header {
        height: unset !important;
        padding: 16px 23px 3px;
        .title-style {
            font-size: 30px;
            font-weight: 600;
        }
    }

    .page-content{
        margin-bottom: 20px;

        .top-container{
            margin-bottom: 6px;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 50% 50%;
            .informations-container {
                width: 100%;
                flex-wrap: wrap;
                padding: 5px 5px;
                height: 100% !important;
                border: 1px solid #2d323d73;
                background-color: #8484840d;
                border-radius: 4px;
                font-size: 11px;
                .line-container {
                    width: auto;
                    min-width: 50%;
                    padding: 3px 2px 5px 2px;
                    .line-title {
                        font-weight: 600;
                        margin-right: 4px;
                        white-space: nowrap;
                    }
                }
            }
            .r-in-container {
                height: 100%;
            }
            .right-side {
                width: 100%;
                height: 100%;
                padding-left: 3px;
            }
            .left-side {
                width: 100%;
                height: 100%;
                padding-right: 3px;
                .title-style {
                    width: 100%;
                    height: 40px;
                    color: white;
                    background-color: #2b2b2b;
                    font-size: 22px;
                    font-weight: 600;
                    margin-bottom: 1px;
                    padding-bottom: 2px;
                }
                .periode-style {
                    font-size: 11px;
                    margin-bottom: 1px;
                }
            }
        }

        .note-title {
            font-size: 12px;
            margin-top: 6px;
            margin-left: 7px;
            color: #2d323d;
        }

        .tab-container {
            padding: 4px 0;
            .tab-header {
                width: 100%;
                text-align: center;
                height: 40px;
                background-color: #2d323e;
                color: white;
            }
            .hidden-column {
                display: none;
            }
            .tab-rows {
                width: 100%;
                border-right: 0.5px solid #2d323e24;
                border-left: 0.5px solid #2d323e24;
                font-size: 12px !important;
                .header-row {
                    font-weight: 600;
                    background-color: #2b2b2b;
                    color: white;
                }
                .header-row {
                    min-height: 25px;
                    padding: 0 25px 0 7px;
                }
                .simple-row {
                    border-bottom: 0.5px solid #2d323e24;
                }
                .empty-row {
                    display: none;
                }
                .inner-row {
                    width: 100%;
                    height: 25px;
                    padding: 0 25px 0 7px;
                }
                .inner-row2 {
                    width: 100%;
                    height: 25px;
                    padding: 0 25px 0 7px;
                }
                .row1,
                .row2,
                .row3,
                .row4,
                .row5,
                .row6,
                .row7 {
                    padding: 0 5px 0px 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .row1 {
                    min-width: 70px;
                    text-align: center;
                    padding: 0 !important;
                }
                .row2 {
                    min-width: calc(52% - 70px);
                    max-width: 620px !important;
                    padding: 0 5px !important;
                }
                .row3 {
                    min-width: 8%;
                    text-align: right;
                }
                .row4 {
                    min-width: 10%;
                    text-align: right;
                }
                .row5 {
                    min-width: 10%;
                    text-align: right;
                }
                .row6 {
                    min-width: 10%;
                    text-align: right;
                }
                .row7 {
                    min-width: 10%;
                    text-align: right;
                }
            }
            .tab-footer {
                padding: 5px 0;
                .notes-class {
                    width: 100%;
                    font-size: 10px;
                }
                .footer-row {
                    min-width: 230px !important;
                    padding-left: 5px;
                    // height: 44px;
                    // border-bottom: 1px solid #2d323e42;
                    // background: #ecedee;
                    .footer-name {
                        font-size: 13px;
                        width: 100%;
                        text-align: center;
                        background-color: #2b2b2b;
                        min-height: 20px;
                        color: white;
                    }
                    .footer-value {
                        width: 100%;
                        text-align: center;
                        font-size: 13px;
                        min-height: 22px;
                        background-color: white;
                        border: 1px solid #2d323e42;
                    }
                }
            }
        }
    }
}
.hidden-row {
    display: none !important;
}

.bottom-note {
    position: absolute;
    bottom: 0;
}