<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>
        <home-page></home-page>
    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="../../../../assets/images/logos/Calque 1.png" alt="Logo PORTAIL-EMPLOYE">
            </div>

            <div class="title">{{'authentification.forgotPsw'|translate}}</div>

            <form name="forgoPasswordForm" [formGroup]="form" novalidate>

                <div class="form-input">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'authentification.adress'|translate}}</mat-label>
                        <input matInput formControlName="email">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="emailControl.hasError('required')">
                            {{'authentification.required'|translate}}
                        </mat-error>
                        <mat-error *ngIf="emailControl.hasError('pattern')">
                            {{'authentification.emailNoVliade'|translate}}
                        </mat-error>
                    </mat-form-field>

                </div>
                <button mat-raised-button class="submit-button sirh-validate-btn" aria-label="VALIDER"
                    [disabled]="form.invalid" [ngClass]="{'sirh-disabled-btn':form.invalid}"
                    (click)="getResetPasswordLink()">
                    {{'authentification.validate'|translate}}
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" routerLink="/login">  {{'authentification.getConnect'|translate}}
                </a>
            </div>

        </div>
    </div>
</div>