<div id="about" fxLayout="row wrap">
    <div class="about-content" fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="filter" fxFlex="49">
                <mat-form-field style="width: 100%;" appearance="outline" class="custom-date-absence">

                    <mat-label> {{'absence.period'|translate}} </mat-label>
                    <mat-date-range-input [formGroup]="dateFormGroup" [rangePicker]="picker">
                        <input [readOnly]="true" matStartDate formControlName="begin" placeholder="Daté début">
                        <input [readOnly]="true" matEndDate formControlName="end" placeholder="date fin">
                    </mat-date-range-input>
                    <button [disabled]="!(dateFormGroup.controls.begin.value && dateFormGroup.controls.end.value)"
                        fxFlex="10" style="background-color: transparent; border: none; cursor: pointer;"
                        (click)="clearDate()"
                        [ngStyle]="{'cursor': !(dateFormGroup.controls.begin.value && dateFormGroup.controls.end.value) ? 'auto': 'pointer'}">
                        <mat-icon
                            [ngStyle]="{'color': !(dateFormGroup.controls.begin.value && dateFormGroup.controls.end.value) ? 'transparent': 'gray'}"
                            style="font-size: 14px; color:gray; position: relative; top:4px;">close</mat-icon>
                    </button>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div></div>
            <div style="margin-right: 5px;">
                <button mat-raised-button class="footer-button sirh-add-btn" (click)="addNew()">
                    <mat-icon class="icon-button">add</mat-icon> {{'absence.add' | translate}}
                </button>
            </div>
        </div>

        <div class="table">
            <app-docs-components-third-party-ngx-datatable [columns]="columns" [unite]="unite" [rows]="rows"
                [statusStatus]="true" [pageCount]="pageCount" [totalItems]="totalItems" [pageIndex]="pageIndex"
                [actions]="actions" (emitActionOnTable)='actionOnTable($event)' (rowSelected)="onRowSelection($event)"
                (changePage)="changePage($event)" (sortData)="sortData($event)" (singleFilter)="changeFilter($event)"
                [isLeaveFilter]="true" [noRequests]="noRequests">

            </app-docs-components-third-party-ngx-datatable>
        </div>
    </div>
</div>