@import "src/@fuse/scss/fuse";

#profile {
    height: 100%;
    .header {
        background: url("/assets/images/backgrounds/dark-material-bg.jpg")
            no-repeat 0 45%;
        background-size: cover;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint("sm") {
                margin: 0 0 16px 0;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
            #about {
                // Profile boxes
                .profile-box {
                    border-radius: 4px;
                    overflow: hidden;
                    margin-bottom: 16px;
                    @include mat-elevation(2);

                    header {
                        padding: 16px;

                        .title {
                            font-size: 17px;
                        }

                        .more {
                            cursor: pointer;
                        }
                    }
                    @media (min-width: 600.2px) {
                        .content {
                            padding: 16px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .editForm {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                .second_div {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    width: 45%;
                                    margin-top: 0;
                                }
                                .first_div {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    width: 45%;
                                }
                                .classInput {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    @media (max-width: 800px) {
                        padding: 16px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between flex-start;
                        .editForm {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .second_div {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                width: 49%;
                                margin-top: 0 !important;
                            }
                            .first_div {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                width: 49%;
                            }
                            .classInput {
                                width: 100%;
                            }
                        }
                    }

                    @media (max-width: 600px) {
                        .content {
                            display: flex;
                            flex-direction: column;
                            justify-content: stretch flex-start;
                            padding: 16px;
                            .second_div {
                                width: 100%;
                                margin-top: 0 !important;
                            }
                            .first_div {
                                width: 100%;
                            }
                            .classInput {
                                width: 100%;
                            }
                            .editForm {
                                display: flex;
                                flex-direction: column;
                                justify-content: stretch;
                            }
                        }
                    }

                    .secondary-text {
                        min-width: 100px;
                        text-align: right;
                    }

                    footer {
                        padding: 8px;
                        border-top: 1px solid;
                    }

                    &.info-box {
                        .info-line {
                            margin-bottom: 24px;

                            .title {
                                font-size: 15px;
                                padding-bottom: 4px;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.input-space {
    height: 57px;
    margin-top: 20px;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
::ng-deep
    .ng-select.ng-invalid.ng-touched
    .ng-select-container.ng-appearance-outline:after {
    border: 2px solid #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.ng-select-container {
    position: relative;
    .mat-error {
        height: 0;
        position: absolute;
        font-size: 12px;
        bottom: 15px;
        left: 5px;
    }
}

::ng-deep
    .ng-select
    .ng-select-container.ng-appearance-outline
    .ng-placeholder {
    background-color: #f5f5f5;
}
::ng-deep
    .ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-placeholder {
    background-color: #f5f5f5;
    font-size: 17px;
    top: 25px;
}
::ng-deep .ng-select .ng-select-container.ng-appearance-outline {
    height: 69px;
}
::ng-deep .ng-select {
    margin-top: -5px;
}

::ng-deep
    .ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.87);
}

::ng-deep
    .ng-select.ng-select-focused
    .ng-select-container.ng-appearance-outline:hover:after {
    border-color: rgba(0, 0, 0, 0.87);
}
::ng-deep
    .ng-select.ng-select-focused
    .ng-select-container.ng-appearance-outline:after {
    border-color: rgba(0, 0, 0, 0.87);
}

::ng-deep
    .ng-select.ng-select-focused
    .ng-select-container
    .ng-value-container
    .ng-placeholder {
    color: rgba(0, 0, 0, 0.87);
}

::ng-deep
    .ng-select.ng-select-focused.ng-invalid.ng-touched
    .ng-select-container
    .ng-value-container
    .ng-placeholder {
    color: rgba(0, 0, 0, 0.87);
}
::ng-deep
    .ng-select.ng-invalid.ng-touched
    .ng-select-container
    .ng-value-container
    .ng-placeholder {
    color: #dc3545;
}
::ng-deep
    .ng-select
    .ng-select-container
    .ng-value-container
    .ng-input
    > input {
    width: unset !important;
}

::ng-deep .ng-arrow-wrapper {
    display: flex;
    height: 100%;
    margin-top: 7px;
    flex-direction: row;
    align-items: center;
}

.bottom-container-inner {
    z-index: 1;
    height: 62px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(
        to bottom,
        rgba(30, 33, 41, 0) 0%,
        rgba(30, 33, 41, 0) 28%,
        rgba(30, 33, 41, 0.65) 100%
    );
    @media(max-width: 600px){
        height: 36px;
    }
}
.bottom-buttons-container {
    height: 48px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    margin-right: 40px;
    @media(max-width: 600px){
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.footer-button {
    padding: 1px 10px !important;
    margin-left: 5px;
}
.icon-button {
    font-size: 20px;
}
.btn-disabled {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.26) !important;
}

@media all and (min-width: 800px) {
    #profile {
        position: absolute !important;
    }
}

.justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
// only for mobile
.half-days{
    width: 100%;
    padding-left: 0px;
    margin-bottom: 10px;
  }
  // only for mobile
  .full-width{
    width: 100%;
  }