<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>
        <home-page></home-page>
    </div>
    <div id="reset-password-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="../../../../assets/images/logos/Calque 1.png" alt="Logo PORTAIL-EMPLOYÉ">
            </div>

            <div class="title">{{'authentification.newPsw'|translate}}</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{'authentification.pwd'|translate}}</mat-label>
                    <input (input)="onNewPass()" matInput type="password" [formControl]="newPasswordControl">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error class="mat-error" *ngIf="
                    (newPasswordControl.dirty ||
                        newPasswordControl.touched) &&
                    newPasswordControl.errors &&
                    newPasswordControl.errors['required']
                ">
                {{'authentification.required'|translate}}
                    </mat-error>
                    <mat-error class="mat-error" *ngIf="
                    (newPasswordControl.dirty ||
                        newPasswordControl.touched) &&
                    newPasswordControl.errors &&
                    (newPasswordControl.errors['minlength'] ||
                        newPasswordControl.errors['pattern'])
                "> 
                {{'authentification.pwdLength'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-top: 8px;">
                    <mat-label> {{'authentification.pwdConfirm'|translate}}</mat-label>
                    <input (input)="onConfirmPass()" matInput type="password"
                        [formControl]="newPassConfirmationControl">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-hint class="mat-error" *ngIf="
                            (newPassConfirmationControl.dirty ||
                                newPassConfirmationControl.touched) &&
                            newPassConfirmationControl.errors &&
                            newPassConfirmationControl.errors['required']
                        ">
                        {{'authentification.required'|translate}}
                    </mat-hint>
                    <mat-hint class="mat-error" *ngIf="
                            (newPassConfirmationControl.dirty ||
                                newPassConfirmationControl.touched) &&
                            newPassConfirmationControl.errors &&
                            newPassConfirmationControl.errors['minlength']
                        ">
                        {{'authentification.pwdLength'|translate}}
                        {{ newPassConfirmationControl.errors.minlength.requiredLength}} 
                        {{'authentification.caracteres'|translate}}.
                    </mat-hint>
                    <mat-hint class="mat-error" *ngIf="
                            (newPassConfirmationControl.dirty ||
                                newPassConfirmationControl.touched) &&
                            misMatch &&
                            !newPassConfirmationControl.errors
                        ">
                        {{'authentification.pwdidentiq'|translate}}
                    </mat-hint>


                </mat-form-field>

                <button mat-raised-button class="submit-button sirh-validate-btn" aria-label="RESET MY PASSWORD"
                    [disabled]="resetPasswordForm.invalid" [ngClass]="{'sirh-disabled-btn': resetPasswordForm.invalid}"
                    (click)="resetPassword()">
                    {{'authentification.validate'|translate}}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" routerLink='/login'>Se connecter</a>
            </div>

        </div>
    </div>
</div>