* {
    font-family: "Muli", "Cairo", "Helvetica Neue", "Arial", sans-serif;
}
:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    .line {
        border-top: 1px black;
        position: relative;
        top: -15px;
    }

    .header {
        flex: 0 1 auto;
        color: black !important;
        text-align: center;
        justify-content: center;
        .title-container {
            .title {
                color: black;
                justify-content: center;
                font-size: 18px;
            }
        }
    }
    .content {
        flex: 1;
        .file-details {
            width: 200px;
            .title {
                padding: 16px 0;
            }
            .content-details {
                display: flex;
                flex-direction: column;
                margin: auto;
                .details {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: 500;
                    color: black;
                    font-size: 14px;
                    margin: 5px;
                }
            }
        }
    }
}
